<div class="modal ts-modal-hidden-container">
	 <div id="loginmodal-modal" data-name="loginmodal-modal" class="ts-modal ts-modal-effect-1">
     <section class="ts-modal-content ts-bg-text-primary-color  ts-no-heading-margin ts-padding-lg ts-shadow ">

			<a class="modal-close ts-modal-close ts-pull-right "><span class="close-txt ts-modal-close">close</span> <span class="close-btn ts-modal-close">X</span></a>
      <h5 id="loginmodal-title"></h5>

			<hr class="">
      <div id="loginmodal-content"></div>
      <hr class="">

    </section>
  </div>
  <div class="ts-modal-overlay ts-bg-secondary-text-color"></div>
</div>
