<header id="nav-header" class="ts-position-fixed ts-position-top ts-width-100 ts-z-index-1000 ts-bg-text-primary-color ts-serif-clean ts-row ts-padding-md minimize" style="border-bottom: 1px solid black;">
  <div id="trigger" class="ts-position-absolute ts-position-left ts-position-top">
    <a href="#" id="trigger" class="ts-icon-menu-trigger ts-">
      <img class="ts-nav-image" src="/images/elements/menu.white.png">
    </a>
  </div>
  <div id="menu-header-stylie" class="ts-text-xx ts-text-left">Login <%- pagedata.toplink %> </div>
</header>